In [28]:
#Python tuple
my_tuple = ("Hi", 1, 8, 2)
print ("my_tuple[0] => ", my_tuple[0])
print ("my_tuple[-1] => ", my_tuple[-1])
print ("my_tuple[1:3] => ", my_tuple[1:3])
print ("my_tuple[-3:-1] => ", my_tuple[-3:-1])
print ("my_tuple[:2] => ", my_tuple[:2])
print ("my_tuple[2:] => ", my_tuple[2:])

my_tuple[0] =>  Hi
my_tuple[-1] =>  2
my_tuple[1:3] =>  (1, 8)
my_tuple[-3:-1] =>  (1, 8)
my_tuple[:2] =>  ('Hi', 1)
my_tuple[2:] =>  (8, 2)

In [24]:
my_tuple = ( 1, 8, 2)

for item in my_tuple:
    print (item)

1
8
2

In [22]:
tuple_1 = (1,2,3)*3 #values in tuple cannot be changed..it gets added
print (tuple_1)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [26]:
#Python sets - unordered unindexed 
my_set = {2 , "Hi", 5.65, True}
my_set

{2, 5.65, 'Hi', True}

In [30]:
my_set = {1 , "Hi", 5.65, True}
my_set

{1, 5.65, 'Hi'}

In [32]:
my_set = {"1" , "Hi", 5.65, True} #Programming language thinks 1 as True
my_set

{'1', 5.65, 'Hi', True}

In [46]:
#Python Dictionary
ages_dict = {"Tom": 30, "Harry": 19}
ages_dict

{'Tom': 30, 'Harry': 19}

In [48]:
city_pop = {
    "Chicago" : 3.5,
    "New York": 7,
    "LA": 6
}
city_pop

{'Chicago': 3.5, 'New York': 7, 'LA': 6}

In [50]:
city_pop["Chicago"]

3.5

In [54]:
city_pop.keys()

dict_keys(['Chicago', 'New York', 'LA'])

In [56]:
city_pop.values()

dict_values([3.5, 7, 6])

In [58]:
city_pop.items()

dict_items([('Chicago', 3.5), ('New York', 7), ('LA', 6)])

In [60]:
"San Francisco" in city_pop

False

In [2]:
city_pop = {"New York": 50, "Los Angeles": 40}

# Update Chicago population
city_pop.update({"Chicago": 30})

# Check the result
print(city_pop)

{'New York': 50, 'Los Angeles': 40, 'Chicago': 30}